* {
    margin: 0;
    padding: 0;  
}
body {
    margin: 0;
    padding: 0;  
    font-family: 'Raleway', sans-serif;
}

.menu{
    padding-top: 20px;
    width: 100%;
    position: fixed;
    z-index: 999;
    background: rgb(240,234,234);
    background: linear-gradient(339deg, rgba(240,234,234,1) 33%, rgba(245,245,220,0.8407738095238095) 70%);
}
/*lANGUAGE*/
.change-lang{
    background-color: #fcfcfc;
    color: #000;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    padding-left: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    box-shadow: 8px 10px 5px 2px rgba(36, 34, 35, 0.2);
    cursor: pointer;
}
.change-lang option {
    background-color: #f6f2f2;
    color: #000;   
}

/*MENU*/
.active {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 25px;
}

.active li {
    list-style-type: none;
    font-weight: bold;
    padding-bottom: 1%;
}

.active a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(72, 68, 68);
   
}

.active a:hover{
    color: #808080;
}

/*Название сайта и подзаголвоок*/
.lang-name {
    margin-top: -27px;
    background: #e5ebe4;
    background: linear-gradient(339deg, rgba(229,235,228,1) 36%, rgba(205,223,183,0.9976365546218487) 69%);
    justify-content: center;
    height: 400px; 
    animation: background 10s infinite alternate; 
}
@keyframes background {
    50% {
        background:  rgb(200, 230, 194);
        box-shadow: 0 -200px 100px -100px  rgb(202, 230, 198) inset;
    }
  }
.lang-title-name{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 200px;
    font-size: 50px;
    text-align: center;
    color: rgb(72, 68, 68);
    letter-spacing: 3px;
}
.lang-subtitle-name {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    color: rgb(72, 68, 68);
    padding-top: 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
}

/*ABOUT US*/
.lang-about-active-content {
    margin: auto;
}

.lang-section-about-us{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 30px;
    color: #1F3716;
    text-align: center;
}

.lang-subtitle-about-us {
    text-align: center;
    margin: auto;
    width: 600px;
}

/*Наши преимущества*/
.services {
   margin: auto;
}

.lang-services-content {
    padding: 50px;
    display: flex;
}

.block-serv {
    margin: auto;
    text-align: center;
    width: 300px;
    padding: 20px;
}

.lang-service-subtitle-3,
.lang-service-subtitle-2,
.lang-service-subtitle-1 {
    color: #9D7E55;
    font-weight: bold;
}

.lang-discribe-service-1,
.lang-discribe-service-2,
.lang-discribe-service-3{
    padding-top: 10px;
}

/*PRICE*/
.lang-price{
    text-align: center;
    background: rgb(205,223,183);
    background: linear-gradient(339deg, rgba(205,223,183,0.9976365546218487) 33%, rgba(229,235,228,1) 68%);
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    height: 400px;
}
.lang-table-price{
    margin: auto;
    display: flex;
    justify-content: center;
}
.lang-price-title{
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #1F3716;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.lang-table-price {
    margin: auto; 
}

.lang-row-1 {
    text-align: left;
    margin-bottom: 10px;
    line-height: 40px;
}
.lang-row-2{
    line-height: 40px;
}
.lang-serv-1{
    margin-right: 90px;
}

.lang-serv-2{
    margin-right: 115px;
}

.lang-serv-3{
    margin-right: 150px;
}

.lang-serv-4 {
    margin-right: 133px;
}

.lang-serv-5{
    margin-right: 140px;
}

/*TOUCH US*/
.aplication{
    background: rgb(229,235,228);
    background: linear-gradient(339deg, rgba(229,235,228,1) 36%, rgba(205,223,183,0.9976365546218487) 69%);
    margin-top: -30px;
    padding-bottom: 100px;
}

.applic-1 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-style: larger;
    color: #9D7E55;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.lang-applic-2{
    margin: auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.lang-form-aplication {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

.applic-2{
    width: 500px;
}
.lang-feedback{
    color: #1F3716;
    text-align: center;
    font-weight: bold;
    height: 100px;
}
.form{
    margin: auto;
    display: grid;
}

.lang-email{
    outline: none;
    font-family: 'Raleway', sans-serif;
    width: 500px;
    padding: 10px;
    margin:auto;
    border: 0.5px solid rgba(128, 128, 128, 0.332);
    border-bottom: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

.lang-button{
    margin: auto;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: #8798805e;
    color: #9D7E55;
    font-weight: bold;
    width: 250px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 30px;
}

.comments{
    width: 500px;
    height: 100px;
    padding: 10px;
    margin:auto;
    border: 0.5px solid rgba(128, 128, 128, 0.332);
    border-bottom: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    outline: none;
}
.lang-button:hover{
    background-color: #bff0c4;
}

/*REVIEWS*/
.reviews {
    background: rgb(229,235,228);
    background: linear-gradient(339deg, rgba(229,235,228,1) 36%, rgba(205,223,183,0.9976365546218487) 69%);
    
}
.lang-title-reviews {
    font-size: 30px;
    color: #1F3716;
    text-align: center;
    padding: 30px;

}
.lang-submit {
    align-items: center;
    margin: auto;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background-color: white;
    color: #9D7E55;
    font-weight: bold;
    width: 250px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 38%;
}
.lang-submit:hover {
    background-position: right center;
}
.reviews-list {
    margin: auto;
    display: flex;
   
}
.review {
    margin: auto;
    text-align: center;
    padding: 30px;
    border: 0.5px solid #a5c0a0a2;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.697);
    width: 300px;
    height: 200px;
}

.lang-review-1,
.lang-review-2,
.lang-review-3{
    padding-top: 10px;
}


/*CONTSCT*/
.main-footer {
    margin: auto;
    background: rgb(229,235,228);
    background: linear-gradient(339deg, rgba(229,235,228,0.7455357142857143) 34%, rgba(176,175,175,0.48503151260504207) 75%);
}
.lang-contact-title {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
}
.main-footer section {
    display: flex;
    justify-content: space-around;
    padding-bottom: 15px; 
    
}

.lang-footer-menu,
.lang-footer-contact,
.lang-our-social-container{
    display: grid;
    justify-content: left;
}

.lang-our-socail,
.lang-map-title,
.lang-footer-menu-title,
.lang-connect-with-us {
    margin-right: 30px;
    font-family: 'Raleway', sans-serif;
}

.lang-map-title{
    margin: auto;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.lang-footer-menu a,
.lang-footer-contact a,
.social-icons a {
    text-decoration: none;
    font-weight: 55px;
    color: rgb(16, 16, 16);
    font-family: 'Raleway', sans-serif;
}
.lang-footer-menu ul,
.lang-footer-contact ul,
.social-icons ul {
    padding-top: 15px;
}
.lang-footer-menu li{
    padding-top: 10px;
    list-style-type: none;
}
.social-icons a:hover,
.lang-footer-contact a:hover,
.lang-footer-menu a:hover {
    background-color: #eee8e8;
    border-radius: 20px;   
}

.lang-footer-menu li,
.lang-footer-contact li,
.social-icons li {
    padding-top: 10px;
    list-style-type: none;
}



/*Адаптивность*/
 /* Стили для мобильных устройств */
 @media only screen and (max-width: 767px) {

} 

  /* Стили для планшетов и ноутбуков */
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    .lang-submit {
        margin-left: 38%;
    }
}

/* Стили для настольных компьютеров и некоторых ноутбуков */
@media only screen and (min-width: 1600px) {
    .lang-submit {
        margin-left: 44%;
    }
}
